/* Global Styling */
@font-face {
font-family: 'roboto';
src: url('font/Roboto.woff') format('woff');
}


:root {
    --egg-shell: #F2E5D7;
    --eerie-black: #1A1B25;
    --soft-white: #FDFDFF;
}

* {
  margin:0;
  padding:0;
}

body{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--egg-shell);
  font-family: roboto, sans-serif;
}

section{
  height: 100vh;
  margin-top: 37px;
}

/* Header Styling */

.main-header{
  height: 140px;
  display: flex;
  justify-content: space-between;
  padding: 0 66px;
  align-items: center;
  width: 100%;
  position: fixed;
  box-sizing: border-box;
}

img.logo{
  width: 100px;
  height: 100px;
}

/* Menu in header Styling */

.menu-container{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu-toggle{
  height: 5px;
  width: 37px;
  border-radius: 2px;
  background-color: var(--soft-white);
}

.menu-toggle::before{
  content: " ";
  display: block;
  height: inherit;
  width: inherit;
  background-color: inherit;
  border-radius: inherit;
  position: absolute;
  margin-top: -10px;
}

.menu-toggle::after{
  content: " ";
  display: block;
  height: inherit;
  width: inherit;
  background-color: inherit;
  border-radius: inherit;
  position: absolute;
  margin-top: 10px;
}

/* Section 1 Styling */

section.hero{
  background-image: url('../img/hero-image.png');
  background-size: cover;
  margin-top: 0;
}

/* Lifestyle section styling */

section.lifestyle{
  height:100vh;
  width:100%;
  display:flex;
}

.text-content{
  height:100%;
  width:50%;
  background-color:var(--soft-white);
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding:95px;
  box-sizing: border-box;
}

.header {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 72px;
  color: #181818;
}

.subtext {
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 24px;
  color: #181818;
}

.image-content {
  height:100%;
  width:50%;
  background-image: url('../img/winter-image.png');
}
