/* Global Styling */

:root {
    --egg-shell: #F2E5D7;
    --eerie-black: #1A1B25;
    --soft-white: #FDFDFF;
}

body{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--egg-shell);
}

section{
  height: 100vh;
  margin-top: 37px;
}

/* Header Styling */

.main-header{
  height: 140px;
  display: flex;
  justify-content: space-between;
  padding: 0 66px;
  align-items: center;
}

img.logo{
  width: 100px;
  height: 100px;
}

/* Menu in header Styling */

.menu-container{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu-toggle{
  height: 5px;
  width: 37px;
  border-radius: 2px;
  background-color: var(--soft-white);
}

.menu-toggle::before{
  content: " ";
  display: block;
  height: inherit;
  width: inherit;
  background-color: inherit;
  border-radius: inherit;
  position: absolute;
  margin-top: -10px;
}

.menu-toggle::after{
  content: " ";
  display: block;
  height: inherit;
  width: inherit;
  background-color: inherit;
  border-radius: inherit;
  position: absolute;
  margin-top: 10px;
}

/* Section 1 Styling */

section.hero{
  background-image: url('../img/hero-image.png');
  background-size: cover;
  margin-top: 0;
}